{% load bootstrap4 %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block title %} {% endblock title %}

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  <!-- jquery-ui css -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- put your own css file link here -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>


<body>
  <!--<body class="text-center"> -->
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  
  <header class="masthead">  <!-- orig. this had 'mb-auto' in the class info, which is what caused content beneath this header to drop WAY down -->
    <div class="inner">
      <h3 class="masthead-brand">Mystery Movie Club</h3>
      <nav class="nav nav-masthead justify-content-center">
        {% with url_name=request.resolver_match.url_name %}
          <a class="nav-link {% if url_name == 'index' %} active {% endif %}" href="{% url 'movies:index' %}">Current Round</a>
          <a class="nav-link {% if url_name == 'members' %} active {% endif %}" href="{% url 'movies:members' %}">Members</a>

  <!--         <a class="nav-link {% if url_name == 'trophies' %}  active {% endif %}" href="{% url 'movies:trophies' %}">Trophies</a> -->

          <a class="nav-link {% if url_name == 'results' %} active {% endif %}" href="{% url 'movies:results' %}">Results</a>
          <a class="nav-link {% if url_name == 'overview' %} active {% endif %}" href="{% url 'movies:overview' sort_by='round' %}">All</a>
        {% endwith %}
      </nav>
    </div>
  </header>

  <main role="main" class="">

    <div class="mb-2">
      {% if user.is_authenticated %}
        <a class="btn-mmg float-right" href="{% url 'logout' %}" role="button">logout&nbsp;<small>{{ user.username }}</small></a>

        {% if user.userprofile.is_mmg_admin %}
          <a class="btn-mmg float-left" href="{% url 'movies:settings' %}" role="button"><small>Admin Panel</small></a>
        {% endif %}
      
      {% endif %}
    </div>

    <br>
    <br>
    
    <div class="border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>

    <br>

    <div class="">
    {% block content %}{% endblock content %}
    </div>
  </main>



  <footer class="mastfoot mt-auto">
    <div class="inner text-center">
      <p>Mystery Movie Club | Built by <b>M.Hollow</b> 2020</p>
    </div>
  </footer>

</div>

</body>
</html>