{% extends 'movies/base.html' %}
{% load bootstrap4 %}

{% block title %}
  <title>Commit User Round</title>
{% endblock title %}


{% block page_header %}
  <h3>Review Round {{ urd_object.game_round.round_number }} Scores - {{ urd_object.user.username }}</h2>
{% endblock page_header %}



{% block content %}

<p>• Points for Correct Guesses - {{ user_points_by_guess|length }} Total</p>
<ul class="pl-3" style="list-style-type:none">
  {% for point_dict in user_points_by_guess %}
  
    <li>+2&nbsp;&nbsp;&nbsp;{{ point_dict.point_string }}</li>

  {% empty %}
  <li>This user did not correctly match any Users to their Movie Choices!</li>
  {% endfor %}

</ul>

<p>• Points for Movie - {{ point_total_movies_only }} Total</p>

<ul class="pl-3" style="list-style-type:none">
  {% for point_type, point_list in user_points_by_movie.items %}
    {% for point_dict in point_list %}
      <li>+1&nbsp;&nbsp;&nbsp;{{ point_dict.point_string }}</li>
    {% endfor %}
  {% empty %}
  <li>This user did not earn any points for their movie, yikes!</li>
  {% endfor %}
</ul>

<p>Total Points for Round: {{ point_total }}</p>


<h5 class="border-bottom">Submit Results</h5>

<form method="post" action="" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  <br>
  <button class="btn btn-secondary" type="submit">Submit User Scores</button>
</form>

<br>
<a href="{% url 'movies:conclude_round' urd_object.game_round.pk %}"><b><span class="float-right">Go Back</b></span></a></p>

<br>
{% endblock content %}


