{% extends 'movies/base.html' %}
{% load bootstrap4 %}

{% block title %}
  <title>Commit User Round</title>
{% endblock title %}


{% block page_header %}
  <h2>Commit User Round Details</h2>
{% endblock page_header %}



{% block content %}


<!-- loop through and printout the point award details for the User here, same as will
  be shown when final results are displayed; admin can review them for any issues and use
  that data to verify form data (though it will be identical) 

  where will the info come from ? the form pre-submitting? the point_queue as stored in request.session?
-->

<!-- this will be different now because it's only for ONE participant, not looping through all of them! 
  that said, this structure will be important for showing results for Al Users on the Results page
  or index page, if you show them there...-->

  {% for parp, results in point_queue.items %}
  <p class="border-bottom">{{ parp }}</p>
  <ul>
    {% for point_type, points_list in results.items %}
    <li>{{ point_type }}</li>
      <ul>
      {% for point_dict in points_list %}
        <li>point_dict.point_string</li>
      {% endfor %}
      </ul>
    {% endfor %}
  </ul>
{% endfor %}




<form method="post" action="" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  <br>
  <button class="btn btn-secondary" type="submit">Submit User Scores</button>
</form>

<br>
<a href="{% url 'movies:conclude_round' user_round_detail.game_round.pk %}"><b><span class="float-right">Go Back</b></span></a></p>

{% endblock content %}



<!-- for reference, the structure of the point queue object:

point_queue[participant.username] = {
    'points_by_guess': [],
    'points_by_movie_known': [],
    'points_by_movie_unseen': [],
    'points_by_movie_liked': [],
    'points_by_movie_disliked': [],
}

-->

