{% extends 'movies/base.html' %}
{% load bootstrap4 %}

{% block title %}
  <title>Conmmit Game Round</title>
{% endblock title %}


{% block page_header %}
  <h2>Commit Game Round Details</h2>
{% endblock page_header %}



{% block content %}



<form method="post" action="" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  <br>
  <button class="btn btn-secondary" type="submit">Submit Round Details</button>
</form>


<br>
<a href="{% url 'movies:conclude_round' game_round.pk %}"><b><span class="float-right">Go Back</b></span></a></p>



{% endblock content %}