{% extends 'movies/base.html' %}
{% load bootstrap4 %}

{% block title %}
  <title>Conclude Round</title>
{% endblock title %}


{% block page_header %}
  <h2>Conclude Round {{ game_round.round_number }} </h2>
{% endblock page_header %}

{% block content %}

{% if fatal_error %}

  <strong>Fatal Error:</strong> {{ fatal_error|safe }}

{% else %}

<p class="mb-2"><b>Admin Instructions:</b></p>
<p>
<ul>
  <li>Conclude the Round.</li>
  <li>Let's Party.</li>
</ul>
</p>

    <form method="post" action="{% url 'movies:conclude_round' game_round.pk %}" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-secondary" name="conclude" value="now" type="submit"{% if not time_to_conclude %} disabled="true"{% endif %}>Conclude This Round</button>
      <button class="btn btn-secondary" name="lets" value="party" type="submit" {% if time_to_conclude %} disabled="true"{% endif %}>Let's Party</button>
    </form>

    <br />
    <p class="border-bottom mb-2">Participant Score Status</p>
    <ul class="pl-0" style="list-style-type:none">
    {% for urd in user_round_details %}
      <li><a href="{% url 'movies:commit_user_round' urd.pk %}">{{ urd.user.username }}</a>
        <span class="float-right">
          {% if urd.finalized_by_admin %}
          <small><i>Done!</i></small>
          {% else %}
          <small>Not Finalized</small>
          {% endif %}
        </span></li>
    {% endfor %}
    </ul>
  
    <p class="border-bottom mb-2"><b>Round Status</b></p>

    Game Round {{ game_round.round_number }}
    {%if game_round.round_completed%}
      <span class="float-right"><small><i>Concluded!</i></small></span>
    {%else%}
      <span class="float-right"><small>Not Finalized</small></span>
    {%endif%}

{% endif %}

{% endblock content %}


