{% extends 'movies/base.html' %}
{% load bootstrap4 %}

{% block title %}
  <title>Conclude Round</title>
{% endblock title %}


{% block page_header %}
  <h2>Conclude Round</h2>
{% endblock page_header %}

{% block content %}

<p>Preliminary Results of Round {{ game_round.round_number }}</p>

<h5>Round Winner: <b>{{ winner.username }}</b></h5>

<br>

{% if not game_round.round_completed %}

<p class="border-bottom mb-2">Review Participant Scores</p>

    <ul class="pl-0" style="list-style-type:none">
    {% for urd in user_round_details %}
      <li><a href="{% url 'movies:commit_user_round' urd.pk %}">{{ urd.user.username }}</a>
        <span class="float-right">
          {% if urd.finalized_by_admin %}
          <i>Done!</i>
          {% else %}
          <small>Not Submitted</small>
          {% endif %}
        </span></li>
    {% endfor %}
    </ul>

    <br>

    <p class="mb-2"><b>Admin Instructions:</b></p>
    <p>
    • Click a user name to review & submit their scores.<br>
    • Once all users are marked <i>done</i>, you can submit the Round below.
   </p>
  

   <br>

    <p class="border-bottom mb-2"><b>Finalize Round Results</b></p>

    <a href="{% url 'movies:commit_game_round' game_round.pk %}">Game Round {{ game_round.round_number }}</a>
      <span class="float-right"><small>Not Submitted</small></span>

   <br>
   <br>
   <p><b><i>Note:</i></b><br>
   Once the Round is submitted, the website will update to display
   the finalized results of the round (replacing the 'in progress' details).</p>


{% else %}
  <p>The current round, number {{ game_round.round_number }}, has already been completed by Admin.</p>
  <p>Results are displayed on index, movie and results pages.</p>

{% endif %}


{% endblock content %}






<!--  looping through the point_queue to display point results by type, per participant:

  {% for parp, results in point_queue.items %}
  <p class="border-bottom">{{ parp }}</p>
  <ul>
    {% for point_type, points_list in results.items %}
    <li>{{ point_type }}</li>
      <ul>
      {% for point_dict in points_list %}
        <li>point_dict.point_string</li>
      {% endfor %}
      </ul>
    {% endfor %}
  </ul>
{% endfor %}

-->