{% extends 'movies/base.html' %}
{% load bootstrap4 %}

{% block title %}
<title>Edit Round</title>
{% endblock title %}

{% block page_header %}
  <h2>Edit Round</h2>
{% endblock page_header %}


{% block content %}

<!-- action, left empty "", will use call (with method Post) the same view that rendered this page, e.g. EditRoundView -->
  <form method="post" action="" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <br>
    <button class="btn btn-secondary" type="submit">Submit Changes</button>
  {% endbuttons %}
  </form>

<br>
<a href="{% url 'movies:settings' %}"><b><span class="float-right">Go Back</b></span></a></p>

{% endblock content %}