{% extends 'movies/base.html' %}
{% load bootstrap4 %}

{% block title %}
<title>Mystery Movie Group</title>
{% endblock title %}


<p>Members, please <a href="{% url 'login' %}">login</a> here.</p>
<p>Need an account? <a href="{% url 'register' %}">Register</a> here.</p>

{% block page_header %}
  <h2>Round 1 <span style="font-size:17px">Oct 4 - Nov 6, 2020</span></h2>
{% endblock page_header %}

<p>Today's Date: {{ date_today|date:'M d, Y' }}

{% block content %}
<br>


<!-- {% for movie in movies %}
  <b>{{ movie.date_watched|date:'M d, Y' }}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ movie.get_absolute_url }}">{{ movie.name }}</a>
  <br>
{% empty %}
  <p>There are currently no movies in the database.</p>
{% endfor %} -->


<ul class="pl-0" style="list-style-type:none">
{% for movie in movies %}
  <li><a href="{{ movie.get_absolute_url }}">{{ movie.name }}</a><span class="float-right">{{ movie.date_watched|date:'M d, Y' }}</span></li>
{% empty %}
  <p>There are currently no movies in the database.</p>
{% endfor %}
</ul>

<a href="{% url 'movies:add_movie' %}"><span class="float-right"><b>+ Add Movie</b></span></a>

<br>
<br>

<h5>Instructions:</h5>
<p>Click a movie title to add or edit your details for that movie.</p>


{% endblock content %}