{% extends 'movies/base.html' %}
{% load bootstrap4 %}

{% block title %}
  <title>Members & All-Time Rankings</title>
{% endblock title %}


{% block page_header %}
  <h2>Members & Rankings</h2>
{% endblock page_header %}


{% block content %}

{% if not user.is_authenticated %}

  <p>New here? Please <a href="{% url 'register' %}"><b>register</b></a> an account.</p>

{% else %}

  {% if profiles|length == 1 %}
    <p>There is currently {{ profiles|length }} member:<br>
  {% else %}
    <p>There are currently <b>{{ profiles|length }}</b> members. <span class="float-right"><small>
      <i>Click a name to view that member's Profile.</i></small></span><br>
  {% endif %}
   A total of <b>{{ game_rounds|length }}</b> Rounds have been completed.
  <ul class="pl-0" style="list-style-type:none">
  {% for p in profiles %}
    <li><a href="{{ p.get_absolute_url }}">{{ p.user.username }}</a></li>
  {% endfor %}
  </ul> 
</p>

<br>

<h4>Rounds Won</h4>
<h5 class="border-bottom pb-2 mb-4"><small>Member</small><span class="float-right"><small>Rounds Won</small></span></h5>

  <ul class="pl-0" style="list-style-type:none">
  {% for profile in profiles_by_round %}
    {% if forloop.counter == 1 %}
      <li><h4><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a>
      <span class="float-right"> {{ profile.rounds_won }} </span>
      </h4></li>
    {% else %}
      <li><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a>
      <span class="float-right"> {{ profile.rounds_won }} </span>
      </li>
    {% endif %}
  {% empty %}
    <p>There are currently no members in the database.</p>
  {% endfor %}
  </ul>

<br>

<h4>Correct Guesses</h4>
<h5 class="border-bottom pb-2 mb-4"><small>Member</small><span class="float-right"><small>Correct Guesses</small></span></h5>

  <ul class="pl-0" style="list-style-type:none">
  {% for profile in profiles_by_guesses %}
    {% if forloop.counter == 1 %}
      <li><h4><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a>
      <span class="float-right"> {{ profile.correct_guesses }} </span>
      </h4></li>
    {% else %}
      <li><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a>
      <span class="float-right"> {{ profile.correct_guesses }} </span>
      </li>
    {% endif %}
  {% empty %}
    <p>There are currently no members in the database.</p>
  {% endfor %}
  </ul>

<br>

<h4>Liked Movies</h4>

<h5 class="border-bottom pb-2 mb-4"><small>Member</small><span class="float-right"><small>Liked Movie Points</small></span></h5>
  <ul class="pl-0" style="list-style-type:none">
  {% for profile in profiles_by_liked %}
    {% if forloop.counter == 1 %}
      <li><h4><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a>
      <span class="float-right"> {{ profile.total_liked_movie_points }} </span>
      </h4></li>
    {% else %}
      <li><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a>
      <span class="float-right"> {{ profile.total_liked_movie_points }} </span>
      </li>
    {% endif %}
  {% empty %}
    <p>There are currently no members in the database.</p>
  {% endfor %}
  </ul>
  <i>Players earn +1 point for every 4 or 5 star rating of their movies.</i><br>

<br>

<h4 >Loathed Movies</h4>

<h5 class="border-bottom pb-2 mb-4"><small>Member</small><span class="float-right"><small>Disliked Movie Points</small></span></h5>

  <ul class="pl-0" style="list-style-type:none">
  {% for profile in profiles_by_disliked %}
    {% if forloop.counter == 1 %}
    <li><h4><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a>
    <span class="float-right"> {{ profile.total_disliked_movie_points }} </span>
    </h4></li>
    {% else %}    
    <li><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a>
    <span class="float-right"> {{ profile.total_disliked_movie_points }} </span>
    </li>
    {% endif %}
  {% empty %}
    <p>There are currently no members in the database.</p>
  {% endfor %}
  </ul>
  <i>Players earn +1 point for every 1 star rating of their movies.</i><br>

<br>

{% endif %}
{% endblock content %}


