{% extends 'movies/base.html' %}
{% load bootstrap4 %}

{% block title %}
  <title>Members</title>
{% endblock title %}


{% block page_header %}
  <h2>Current Club Members</h2>
{% endblock page_header %}


{% block content %}

{% if not user.is_authenticated %}
  <p>Looks like you're new here...<br>
  If you have an account, click login above.</p>

  <p>Otherwise, please <a href="{% url 'register' %}"><b>register</b></a> here.</p>

{% else %}

  {% if members|length == 1 %}
    <p>There is currently {{ members|length }} member.</p>
  {% else %}
    <p>There are currently <b>{{ members|length }}</b> members.</p>
  {% endif %}

<h5 class="border-bottom mb-2">Name<span class="float-right"># Rounds Won</span></h5>

  <ul class="pl-0" style="list-style-type:none">
  {% for pair in user_profile_pairs %}
    <li>{{ pair.0.username }}
    <span class="float-right"> {{ pair.1.rounds_won }} </span>
    </li>
  {% empty %}
    <p>There are currently no members in the database.</p>
  {% endfor %}
  </ul>


{% endif %}

{% endblock content %}


