{% extends 'movies/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
<title>{{ movie.name }}</title>
{% endblock title %}

{% block page_header %}
  <h2>{{ movie.name }}</h2>
{% endblock page_header %}

{% block content %}


{% if not user_movie_details %}

<p>Watched on <b> {{ movie.date_watched|date:'M d, Y'}}</b></p>
<p>Please update your details for <b>{{ movie.name }}</b>:</p>

<form method="post" action="{% url 'movies:add_details' movie.pk %}?next={{ request.path|urlencode }}" class="form">

  {% csrf_token %}
  {% bootstrap_form form %}

  <br>
  <button class="btn btn-secondary" type="submit">Submit Details</button>

</form>

{% else %}
Shown in Round: <span class="float-right">{{ game_round.round_number }}</span><br>
Date Watched: <span class="float-right">{{ movie.date_watched|date:'M d, Y'}}</span><br>

<br>
<!-- note: get_ and _display are prepended / appended to the actual field names below, because
    this is how you display the 'choices' option when the Model field has choices= defined for
    a field. -->

<h5 class="border-bottom pb-2 mb-4">Your Details</h5>

  <ul class="pl-0" style="list-style-type:none">
      <li>Seen Previously: <span class="float-right">{{ user_movie_details.get_seen_previously_display }}</span></li>
      <li>Heard of Before: <span class="float-right">{{ user_movie_details.get_heard_of_display }}</span></li>
      <li>Your User Guess: <span class="float-right">
      {% if user_movie_details.is_user_movie %}
        You chose this!
      {% else %}
        {{ user_movie_details.user_guess.username }}
      {% endif %}</span></li>
      <br>
      <li>Deep Hurting Score: <span class="float-right">{{ user_movie_details.get_star_rating_display }}</span></li>

    {% if user_movie_details.comments %}
      <br>
      <li class="mb-2">Your Comments:</li>
      <span class="pl-3">"{{ user_movie_details.comments }}" </span><br>
      <span class="pl-4"> - {{ user_movie_details.user.username }}</span>
    {% endif %}
  </ul>

  <br>

  {% if not game_round.round_completed %}
  <p>Change your mind?<br>
  <a href="{% url 'movies:update_details' user_movie_details.pk %}"><b>Edit Details</b></a></p>
  {% endif %}


    {% if game_round.round_completed %}

        <h5 class="border-bottom pb-2 mb-4">Movie Details - Round Completed</h5>

        <ul class="pl-0" style="list-style-type:none">
            <li>This movie was chosen by:<span class="float-right">{{ user_that_chose_movie.username }}</span></li>
            <li>The average rating for this movie was:<span class="float-right">{{ movie_avg_rating }}</span></li>

            <!--<li>Users who correctly blamed <b>{{ user_that_chose_movie.username }}</b>:<span class="float-right">...</span></li>-->
            <!--<br>-->
            <!--<li># of Users who had already seen it:</li>-->
            <!--<li># of Users who had never heard of it:</li>-->

        <br>
        <li class="mb-3"><h5>Deep Hurting Scores:</h5></li>
          <ul class="pl-0" style="list-style-type:none">
            {% for rating_dict in movie_ratings %}
            <li>{{ rating_dict.username }}<span class="float-right">{{ rating_dict.rating }}</span></li>
            {% endfor %}
          </ul>

            {% if movie_comments %}
            <br>
              <li class="mb-3"><h5>Comments:</h5></li>
                <ul class="pl-3" style="list-style-type:none">
                {% for comment_dict in movie_comments %}
                <li class="mb-3">"{{ comment_dict.comment }}"<br>&nbsp;&nbsp;&nbsp;- <i>{{ comment_dict.username }}</i></li>
                {% endfor %}
               </ul>
            {% endif %}
        </ul>

    {% endif %}
<br>
<p><span class="float-right"><a href="{% url 'movies:index' %}"><b>Back to Round</b></a></span></p>
<!-- <p><span class="float-right"><a href="{{ request.GET.next }}"><b>Go Back</b></span></a></p> -->

{% endif %}

<br>
{% endblock content %}
