{% extends 'movies/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
<title>{{ movie.name }}</title>
{% endblock title %}

{% block page_header %}
  <h2>{{ movie.name }}</h2>
{% endblock page_header %}

{% block content %}

<br>

{% if not user_movie_details %}

<p>Watched on <b> {{ movie.date_watched|date:'M d, Y'}}</b></p>
<p>Please update your details for <b>{{ movie.name }}</b>:</p>

<form method="post" action="{% url 'movies:add_details' movie.pk %}" class="form">
  
  {% csrf_token %}
  {% bootstrap_form form %}

  <br>
  <button class="btn btn-secondary" type="submit">Submit Details</button>

</form>

{% else %}

<p>Watched on <b> {{ movie.date_watched|date:'M d, Y'}}</b><br>
  {% if user_movie_details.is_user_movie %}
    This movie was <i>your</i> choice, oh my.</p>
  {% else %}
    This movie was chosen by another user, phew. </p>
  {% endif %}

  <ul class="pl-0" style="list-style-type:none">
      <li>Seen Previously: <span class="float-right">{{ user_movie_details.get_seen_previously_display }}</span></li>
      <li>Heard of Before: <span class="float-right">{{ user_movie_details.get_heard_of_display }}</span></li>
      <li>Deep Hurting Level: <span class="float-right">{{ user_movie_details.get_star_rating_display }}</span></li>
    
    {% if not user_movie_details.is_user_movie %}
      <li>Your Guess: <span class="float-right">{{ user_movie_details.user_guess.username }}</span></li>
    {% endif %}

<!--     {% if user_movie_details.comments %}
      <li>Your Comments: <span class="float-right">{{ user_movie_details.comments }}</span></li>
    {% endif %} -->
  
  </ul>

  <p><a href="{% url 'movies:update_details' user_movie_details.pk %}"><b>Edit Details</b></a></p>

<br>
<div class="border-bottom">
  <h2>Results...</h2>
</div>
<br>
<p>Your results for this movie will be posted after the Round is complete.</p>


{% endif %}


{% endblock content %}
