{% extends 'movies/base.html' %}
{% load bootstrap4 %}

{% block title %}
<title>Settings</title>
{% endblock title %}

{% block page_header %}
  <h2>Admin Panel</h2>
{% endblock page_header %}


{% block content %}

+&nbsp;&nbsp;<a href="{% url 'movies:create_round' %}">Create New Round</a><br>
+&nbsp;&nbsp;<a href="{% url 'movies:add_movie' %}">Add Movie</a>

<br>
<!-- this is so you can manually run the model method; the alternative to this is simply have it called by the
    Round-ending view, so any time a Round ends, the points in all UserProfiles automatically get updated -->
<br>
<p>To update all User Profiles to current all-time point totals, click here:</p>

<!-- create a 'ghost' form so the update is done via POST -->
<form action="{% url 'movies:update_points' %}" method='post'>
  {% csrf_token %}
    <button name='submit' class='btn-secondary'>Update Points</button>
</form>

<br>
<br>

<h4 class="border-bottom pb-2">Edit Rounds</h4>

<ul class="pl-0" style="list-style-type:none">
  {% for round in game_rounds %}
    <li>
      Round {{ round.round_number }}
      <span class="float-right"><a href="{% url 'movies:edit_round_images' round.pk %}"><strong>Edit Images</strong></a></span>
      <span class="float-right"><a href="{% url 'movies:edit_round' round.pk %}"><strong>Edit Details</strong></a> &nbsp;| &nbsp;</span>
    </li>
  {% empty %}
    <p>There are no existing Rounds to edit.</p>
  {% endfor %}
</ul>




{% endblock content %}