{% extends 'movies/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
<title>Trophies</title>
{% endblock title %}

{% block page_header %}
  <h2>Trophies</h2>
{% endblock page_header %}

{% block content %}

<ul class="pl-0" style="list-style-type:none">
{% for trophy in trophies %}
  <li>{{ tropy.name }}<span class="float-right">{{ trophy.condition }}</span></li>
{% empty %}
  <p>There are currently no Trophies in the database.</p>
{% endfor %}  
</ul>



{% endblock content%}