{% extends 'movies/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block page_header %}
  <h2>Login</h2>
{% endblock page_header %}


{% block content %}

<form method="post" action="{% url 'login' %}"> <!-- question: could you use ?next... here instead? -->
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-secondary" type="submit">Login</button>

    <!-- no longer using this approach, as it messed with the sessions variable -->
    <!-- <input type="hidden" name="next" value="{{ request.GET.next }}"> -->
</form>

{% endblock content %}